/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.page_item_has_children.tkt_htv-description {
    padding:7px;
}
.tkt_htv-max-height {
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

div.tkt_htv_parent_item.active:after {
    content: "\2212";
}
.tkt_htv_parent_item:after {
    content: "\002B";
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
li.page_item:not(.page_item_has_children),
li.page_item_has_children {
    padding-left:7px;
}
.tkt_htv_child {
    padding:7px;
    margin-left:14px;
    background-color:#f1f1f1;
    overflow:hidden;
}
.tkt_htv_parent_item {
    background-color:#e5e5e5;
    padding:7px;
}
a.tkt_htv-parent-link {
    text-decoration:none;
}
.tkt_htv-search {
    padding: 7px 7px 21px 0px;
}
.tkt-edit-icon {
    padding-right: 10px;
}
.hidden{
    display: none;
}
.highlight{
    background-color: #2e7ba5;
    color:  white;
}
.tkt_htv-searchable-contents a {
    padding: 3px;
    border-radius: 3px;
}
}